@import "../../assets/style/variables.scss";
@import "../../assets/style/mixins.scss";

.tictactoe {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @include bold;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dropdownlist {
      margin-left: 0.3rem;
      margin-right: 1rem;
    }
  }

  &__grid {
    width: fit-content;
    margin: 1rem 0;
    border-radius: 4px;
    border: 1px solid white;
  }

  &__row {
    display: flex;
  }

  .player {
    @include bold;
    font-size: 1.5rem;
  }

  .player_o {
    color: $main;
  }

  .player_x {
    color: $error;
  }

  &__cell {
    min-width: 2.5rem;
    aspect-ratio: 1;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    cursor: not-allowed;

    &:empty {
      cursor: pointer;
    }
  }

  &__status {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__history {
    max-width: 40rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__move {
    width: 2.5rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

    &.inactive {
      opacity: 0.3;
    }

    &:hover {
      background-color: #303030;
    }
  }
}