@import "../../assets/style/variables.scss";
@import "../../assets/style/mixins.scss";

.tower-display {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
  border: 1px dashed $main;
  border-radius: 15px;

  &__image {
    height: 80px;
    border-radius: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-size: 0.75rem;
      text-transform: capitalize;
    }
  }

  &__name {
    font-size: 1rem;
    @include bold;
    text-align: center;
  }
}