@import "../../assets/style/variables.scss";
@import "../../assets/style/mixins.scss";

.cached-rickmorty {
  width: 600px;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  > section {
    width: 100%;
  }

  &__exclamation {
    color: $error;
    @include bold;
  }

  &__action {
    color: $main;
    cursor: pointer;

    &:hover {
      color: $main-lighter;
      text-decoration: underline;
    }
  }

  &__cache {
    p {
      min-height: 18px;
      margin: 0.2rem 0;
      font-size: 0.75rem;
      font-weight: 300;
      color: $main-lighter;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__characters {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    img {
      width: 25px;
      aspect-ratio: 1;
      border: 3px solid #4a4a4a;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        border-color: $main-lighter;
      }

      &.selected {
        padding: 0.1rem;
        border: 1px solid $main-lighter;
        opacity: 0.5;
      }
    }
  }
}